# telco data imported from a .csv
Check churn_manipulation.py for comments on code

In [2]:
from pydataset import data
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [3]:
telco_df = pd.read_csv('telco_churn.csv')

In [3]:
telco_df

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,auto_pay,...,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents,start_date,avg_charges,Phone desc,contract type,internet desc
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,False,...,False,True,True,True,3,7/27/2020,$65.60,One Line,1 Year,DSL
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,False,...,False,True,True,True,0,7/27/2020,$59.90,Two or More Lines,Month-to-Month,DSL
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,False,...,True,True,True,True,0,1/3/2021,$73.90,One Line,Month-to-Month,Fiber Optic
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,False,...,True,True,True,True,1,4/9/2020,$98.00,One Line,Month-to-Month,Fiber Optic
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,False,...,True,True,True,True,1,1/22/2021,$83.90,One Line,Month-to-Month,Fiber Optic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,NaN,Female,0,No,No,1,1,1,Mailed check,False,...,False,True,True,True,0,3/15/2020,$55.15,One Line,1 Year,DSL
7045,NaN,Male,0,Yes,No,2,2,0,Electronic check,False,...,True,True,True,True,1,6/29/2019,$85.10,Two or More Lines,Month-to-Month,Fiber Optic
7046,NaN,Male,0,No,No,1,1,0,Mailed check,False,...,False,True,True,True,0,3/3/2021,$50.30,One Line,Month-to-Month,DSL
7047,NaN,Male,0,Yes,Yes,1,1,2,Mailed check,False,...,False,True,True,True,3,8/24/2015,$67.85,One Line,2 Year,DSL
7048,NaN,Male,0,Yes,Yes,0,1,2,Electronic check,False,...,False,False,True,False,3,2/3/2016,$59.00,No Phone Service,2 Year,DSL

In [4]:
telco_df['avg_charges'] = telco_df['avg_charges'].str.replace('$','')

In [5]:
telco_df['avg_charges'] = pd.to_numeric(telco_df['avg_charges'], errors = 'coerce')

In [6]:
month_df = telco_df[telco_df['contract_type'] == 0]

In [7]:
month_df.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure,partner_dependents,avg_charges
count,3876.000000,3876.000000,3876.000000,3876.0,3876.000000,3876.000000,3876.000000,3876.000000,3876.000000
mean,0.208204,1.285088,1.413829,0.0,66.389229,1368.909185,18.019748,0.763932,66.389229
std,0.406076,0.631226,0.716302,0.0,26.929298,1613.814021,17.698602,1.090841,26.929298
min,0.000000,0.000000,0.000000,0.0,18.750000,18.850000,1.000000,0.000000,18.750000
25%,0.000000,1.000000,1.000000,0.0,45.837500,159.437500,3.124496,0.000000,45.837500
50%,0.000000,1.000000,2.000000,0.0,73.225000,679.425000,11.777961,0.000000,73.225000
75%,0.000000,2.000000,2.000000,0.0,88.862500,2066.250000,28.248993,1.000000,88.862500
max,1.000000,2.000000,2.000000,0.0,117.450000,8061.500000,71.989484,3.000000,117.450000

In [8]:
truem_df = month_df[month_df['auto_pay']==True]
falsm_df = month_df[month_df['auto_pay']== False]

In [9]:
truem_df.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure,partner_dependents,avg_charges
count,1133.000000,1133.000000,1133.000000,1133.0,1133.000000,1133.000000,1133.000000,1133.000000,1133.000000
mean,0.195940,1.335393,1.432480,0.0,68.377229,1846.721094,24.409331,0.879965,68.377229
std,0.397098,0.646102,0.689449,0.0,26.303860,1748.262256,18.723772,1.133210,26.303860
min,0.000000,0.000000,0.000000,0.0,18.750000,19.250000,1.000000,0.000000,18.750000
25%,0.000000,1.000000,1.000000,0.0,49.850000,425.900000,8.333333,0.000000,49.850000
50%,0.000000,1.000000,2.000000,0.0,74.400000,1286.050000,20.585346,0.000000,74.400000
75%,0.000000,2.000000,2.000000,0.0,89.650000,2804.450000,37.947971,1.000000,89.650000
max,1.000000,2.000000,2.000000,0.0,114.500000,8061.500000,71.989484,3.000000,114.500000

In [10]:
falsm_df.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure,partner_dependents,avg_charges
count,2743.000000,2743.000000,2743.000000,2743.0,2743.000000,2743.000000,2743.000000,2743.000000,2743.000000
mean,0.213270,1.264309,1.406125,0.0,65.568082,1171.548305,15.380522,0.716004,65.568082
std,0.409692,0.623914,0.727088,0.0,27.145701,1511.764309,16.556026,1.069395,27.145701
min,0.000000,0.000000,0.000000,0.0,18.800000,18.850000,1.000000,0.000000,18.800000
25%,0.000000,1.000000,1.000000,0.0,45.300000,101.000000,2.129898,0.000000,45.300000
50%,0.000000,1.000000,2.000000,0.0,71.150000,494.050000,9.010012,0.000000,71.150000
75%,0.000000,2.000000,2.000000,0.0,88.100000,1664.700000,23.509049,1.000000,88.100000
max,1.000000,2.000000,2.000000,0.0,117.450000,7713.550000,71.753953,3.000000,117.450000

In [11]:
oddsratio, pvalue = stats.fisher_exact([[380, 753], [1276, 1467]])

In [12]:
oddsratio

0.5801870886360514

In [13]:
falsm_df

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,auto_pay,...,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents,start_date,avg_charges,Phone desc,contract type,internet desc
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,False,...,False,True,True,True,0,7/27/2020,59.90,Two or More Lines,Month-to-Month,DSL
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,False,...,True,True,True,True,0,1/3/2021,73.90,One Line,Month-to-Month,Fiber Optic
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,False,...,True,True,True,True,1,4/9/2020,98.00,One Line,Month-to-Month,Fiber Optic
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,False,...,True,True,True,True,1,1/22/2021,83.90,One Line,Month-to-Month,Fiber Optic
8,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,False,...,False,True,True,True,0,9/26/2020,48.20,One Line,Month-to-Month,DSL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,9971-ZWPBF,Male,1,Yes,Yes,2,2,0,Electronic check,False,...,False,True,True,True,3,7/21/2018,108.90,Two or More Lines,Month-to-Month,Fiber Optic
7039,9992-RRAMN,Male,0,No,No,1,0,0,Mailed check,False,...,False,True,False,False,0,3/29/2021,18.90,One Line,Month-to-Month,No Internet Service
7042,9995-HOTOH,Female,0,No,No,1,2,0,Mailed check,False,...,True,True,True,True,0,3/29/2021,70.15,One Line,Month-to-Month,Fiber Optic
7045,NaN,Male,0,Yes,No,2,2,0,Electronic check,False,...,True,True,True,True,1,6/29/2019,85.10,Two or More Lines,Month-to-Month,Fiber Optic
7046,NaN,Male,0,No,No,1,1,0,Mailed check,False,...,False,True,True,True,0,3/3/2021,50.30,One Line,Month-to-Month,DSL

In [14]:
truem_df[truem_df['has_churned']== False]

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,auto_pay,...,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents,start_date,avg_charges,Phone desc,contract type,internet desc
5,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),True,...,False,True,True,True,2,8/21/2020,69.40,One Line,Month-to-Month,DSL
36,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),True,...,False,True,True,True,1,9/22/2016,89.80,Two or More Lines,Month-to-Month,Fiber Optic
39,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),True,...,False,True,True,True,3,3/16/2019,75.75,Two or More Lines,Month-to-Month,Fiber Optic
51,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),True,...,False,True,True,True,3,3/9/2018,99.95,Two or More Lines,Month-to-Month,Fiber Optic
61,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),True,...,False,True,True,True,0,11/29/2019,71.40,Two or More Lines,Month-to-Month,DSL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6999,9931-KGHOA,Female,0,Yes,No,2,1,0,Bank transfer (automatic),True,...,False,True,True,True,1,7/30/2017,55.00,Two or More Lines,Month-to-Month,DSL
7009,9944-AEXBM,Male,0,No,No,2,2,0,Bank transfer (automatic),True,...,False,True,True,True,0,9/25/2018,85.65,Two or More Lines,Month-to-Month,Fiber Optic
7026,9970-QBCDA,Female,0,No,No,1,0,0,Credit card (automatic),True,...,False,True,False,False,0,10/10/2020,19.70,One Line,Month-to-Month,No Internet Service
7029,9972-NKTFD,Female,0,No,No,1,1,0,Bank transfer (automatic),True,...,False,True,True,True,0,1/5/2019,54.65,One Line,Month-to-Month,DSL
7037,9986-BONCE,Male,0,No,Yes,1,2,0,Credit card (automatic),True,...,False,True,True,True,2,2/21/2016,99.15,One Line,Month-to-Month,Fiber Optic

In [15]:
falsm_df[falsm_df['has_churned'] == True]

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,auto_pay,...,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents,start_date,avg_charges,Phone desc,contract type,internet desc
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,False,...,True,True,True,True,0,1/3/2021,73.90,One Line,Month-to-Month,Fiber Optic
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,False,...,True,True,True,True,1,4/9/2020,98.00,One Line,Month-to-Month,Fiber Optic
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,False,...,True,True,True,True,1,1/22/2021,83.90,One Line,Month-to-Month,Fiber Optic
19,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,False,...,True,False,True,False,0,3/29/2021,25.10,No Phone Service,Month-to-Month,DSL
21,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,False,...,True,True,True,True,1,4/1/2020,94.10,Two or More Lines,Month-to-Month,Fiber Optic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7012,9947-OTFQU,Male,1,No,No,1,2,0,Electronic check,False,...,True,True,True,True,0,2/14/2020,74.40,One Line,Month-to-Month,Fiber Optic
7013,9948-YPTDG,Male,0,Yes,No,1,2,0,Electronic check,False,...,True,True,True,True,1,3/2/2018,79.45,One Line,Month-to-Month,Fiber Optic
7023,9965-YOKZB,Male,1,No,No,2,2,0,Electronic check,False,...,True,True,True,True,0,7/16/2020,83.85,Two or More Lines,Month-to-Month,Fiber Optic
7042,9995-HOTOH,Female,0,No,No,1,2,0,Mailed check,False,...,True,True,True,True,0,3/29/2021,70.15,One Line,Month-to-Month,Fiber Optic
7045,NaN,Male,0,Yes,No,2,2,0,Electronic check,False,...,True,True,True,True,1,6/29/2019,85.10,Two or More Lines,Month-to-Month,Fiber Optic

In [16]:
fish_1 = truem_df[truem_df['has_churned']== True]
fish_2 = falsm_df[falsm_df['has_churned'] == True]
fish_3 = truem_df[truem_df['has_churned']== False]
fish_4 = falsm_df[falsm_df['has_churned'] == False]

In [18]:
fish_1['avg_charges'].sum()

28517.6

In [19]:
fish_2['avg_charges'].sum()

92360.0

In [20]:
fish_3['avg_charges'].sum()

48953.8

In [21]:
fish_4['avg_charges'].sum()

87493.25